*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Logo */
.logo{
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    color: white;
}

.logo span{
    color: chartreuse;
}

/* Body */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11182b;
}

/* Container */
.forgot-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.forgot-box{
    width: 360px;
    padding: 70px;
    border-radius: 30px;
    background: #05011d;
}

/* Subtitle */
.subtitle{
    padding: 30px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

/* Input Group */
.input-group{
    color: rgb(255, 115, 0);
}

/* Labels */
label{
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* Inputs */
input{
    width: 230px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
}

/* Input Focus Effect */
input:focus{
    border-color: chartreuse;
    box-shadow: 0 0 8px chartreuse;
}

/* Button */
button{
    width: 230px;
    padding: 8px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    background: #0d0155;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

/* Button Hover */
button:hover{
    background: chartreuse;
    color: black;
}

/* Optional Back Link */
.back-login{
    margin-top: 25px;
    text-align: center;
}

.back-login a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.back-login a:hover{
    color: rgb(255, 115, 0);
}